/ca_ancora-corefud-minidev.conllu
/ca_ancora-corefud-train.conllu
/cs_pcedt-corefud-minidev.conllu
/cs_pcedt-corefud-train.conllu
/cs_pdt-corefud-minidev.conllu
/cs_pdt-corefud-train.conllu
/cs_pdtsc-corefud-minidev.conllu
/cs_pdtsc-corefud-train.conllu
/cu_proiel-corefud-minidev.conllu
/cu_proiel-corefud-train.conllu
/es_ancora-corefud-minidev.conllu
/es_ancora-corefud-train.conllu
/grc_proiel-corefud-minidev.conllu
/grc_proiel-corefud-train.conllu
/hu_korkor-corefud-minidev.conllu
/hu_korkor-corefud-train.conllu
/hu_szegedkoref-corefud-minidev.conllu
/hu_szegedkoref-corefud-train.conllu
/pl_pcc-corefud-minidev.conllu
/pl_pcc-corefud-train.conllu
/tr_itcc-corefud-minidev.conllu
/tr_itcc-corefud-train.conllu
